extends layout

block content
  h1= title
  p Welcome to #{title} 
    each tarea in tareas
        h3 #{tarea.nombre}
        p Etiquetes: #{tarea.etiquetas}
        p Realització del #{tarea.porcentaje} %
        
  
  a(href='/tareas/new') Crear nueva tarea
